<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {%  load static %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">

    <title>Hello, world!</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <span>Name : <span>TESTNAME</span></span>
        </div>
        <div class="col-md-4">
            <span>Phone No : <span>9999999999</span></span>
        </div>
        <div class="col-md-4">
            <span>Email : <span>HELLO@GMAIL.COM</span></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Sms : <span>TRUE</span></span>
        </div>
        <div class="col-md-4">
            <span>Sms : <span>TRUE</span></span>
        </div>
    </div>

    <hr>

    <h3 class="display-4">Products</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Model No</th>
            <th scope="col">Price</th>
            <th scope="col">Warranty</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>SQ4951</td>
            <td>20</td>
            <td>2</td>
            <!--<td>-->
                <!--<table class="table table-bordered">-->
                    <!--<tr>-->
                        <!--<td>Item 1</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>Item 1</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>Item 1</td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</td>-->
        </tr>
        <tr>
            <td>SQ4953</td>
            <td>50</td>
            <td>1</td>
        </tr>


        <tr>
            <td>SQ4959</td>
            <td>40</td>
            <td>3</td>
        </tr>
        <tr>
            <td>SQ4956</td>
            <td>10</td>
            <td>1</td>
        </tr>
        <tr>
            <td>SQ4950</td>
            <td>20</td>
            <td>1</td>
        </tr>


        </tbody>
    </table>

    <h3 class="display-4">Services</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Model No</th>
            <th scope="col">Log Date</th>
            <th scope="col">Total COst</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>SQ4951</td>
            <td>20-Jan</td>
            <td>2000</td>
        </tr>
        <tr>
            <td>SQ4953</td>
            <td>5-Feb</td>
            <td>1500</td>
        </tr>


        <tr>
            <td>SQ4959</td>
            <td>4-Nov</td>
            <td>3700</td>
        </tr>
        <tr>
            <td>SQ4956</td>
            <td>10-Jul</td>
            <td>1900</td>
        </tr>
        <tr>
            <td>SQ4950</td>
            <td>20-Sept</td>
            <td>1250</td>
        </tr>


        </tbody>
    </table>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{% static 'main/js/index.js' %}></script>
</body>
</html>