<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Product</title>
</head>
<body>
	<div class="backdrop"></div>
	<header>
		<nav class="main-nav">
	        <div class="ui secondary menu">
	            <div class="ui container">
	                <a href="#" class="header"><img src="{% static 'home/LG/lg_logo_1_1.png'%}"></a>
	                <div class="right menu">
	                    <a class="ui item" href="#"><i class="user circle icon"></i>Account</a>
	                    <a class="ui item" href="/logout/"><i class="sign-out icon"></i>Log Out</a>
	                </div>
	            </div>
	        </div>
   		</nav>
	</header>
	<main>
		<div class="ui internally celled grid">
		  <div class="row">
		  	<!-- LEFT FIELD -->
		    <div class="six wide column">
		     	<div class="ui main text container segment" style="width: 100%;" >
				    <h1>Campaign Info</h1>
				    <div class="ui form" style="display: none;">
					    <div class="field">
				    		<div class="ui icon input">
							  <input type="text" placeholder="Search..." id="search_campaign">
							  <i class="circular search link icon"></i>
							</div>
				    	</div>
			    	</div>
			    	<br>
				    <div class="ui form">
                        {% csrf_token %}
				        <div class="field">
				            <label for="campaign_name">Campaign Name</label>
				            <input type="text" name="campaign_name" id="campaign_name" placeholder="Campaign Name">
				        </div>

				        <div class="field">
				            <label for="requestor_name">Requestor Name</label>
				            <input type="text" name="requestor_name" id="requestor_name" placeholder="Requestor Name">
				        </div>

				        <div class="field">
				            <label for="request_date">Request Date</label>
				            <input type="date" name="request_date" id="request_date" placeholder="mm/dd/yyyy">
				        </div>
				        <div class="ui internally celled grid">
					        <div class="row">
					        	<div class="eight wide column">
					        		<div class="field">
							            <label for="campaign_start_date">Campaign Start Date</label>
							            <input type="date" name="campaign_start_date" id="campaign_start_date" placeholder="mm/dd/yyyy">
							        </div>
					        	</div>

					        	<div class="eight wide column">
					        		<div class="field">
							            <label for="campaign_end_date">Campaign End Date</label>
							            <input type="date" name="campaign_end_date" id="campaign_end_date" placeholder="mm/dd/yyyy">
							        </div>
					        	</div>
					        </div>
				        </div>

				        <div class="field">
				            <label for="email">Email</label>
				            <input type="email" name="email" id="email" placeholder="example@lge.com">
				        </div>
{#				        <button class="ui basic black large button" id="campaignInfoSubmit">Submit</button>#}
				    </div>
				</div>

		    </div>

		    <!-- RIGHT FIELD -->
			<div class="ten wide column">
			   <div class="ui main text segment" style="height: 100%;">
			      <div class="ui main text segment">
			         <div class="ui form">
			            <div class="inline fields">
			            	<div class="field">
									<div class="ui checkbox">
										<input type="checkbox" name="select_product" id="select_product">
										<label style="font-size: 1.5rem;">Select Products</label>
									</div>
								</div>
							</div>
							<div class="inline fields">
			               <div class="field">
			                  <div class="ui checkbox">
			                     <input type="checkbox" name="product" checked value="ALL">
			                     <label>ALL</label>
			                  </div>
			               </div>
			               <div class="field">
			                  <div class="ui checkbox">
			                     <input type="checkbox" name="product" value="TV">
			                     <label>TV</label>
			                  </div>
			               </div>
			               <div class="field">
			                  <div class="ui checkbox">
			                     <input type="checkbox" name="product" value="REF">
			                     <label>REF</label>
			                  </div>
			               </div>
			               <div class="field">
			                  <div class="ui checkbox">
			                     <input type="checkbox" name="product" value="AC">
			                     <label>AC</label>
			                  </div>
			               </div>
			               <div class="field">
			                  <div class="ui checkbox">
			                     <input type="checkbox" name="product" value="WM">
			                     <label>WM</label>
			                  </div>
			               </div>
			               <div class="field">
			                  <div class="ui checkbox checkbox">
			                     <input type="checkbox" name="product" value="AV">
			                     <label>AV</label>
			                  </div>
			               </div>
			               <div class="field">
			                  <div class="ui checkbox checkbox">
			                     <input type="checkbox" name="product" value="MWO">
			                     <label>MWO</label>
			                  </div>
			               </div>
							</div>
							<br>

							<!-- Purchase -->
			            <div class="ui form">
								<div class="inline fields">
									<div class="field">
										<div class="ui checkbox">
											<input type="checkbox" name="purchase_date" id="purchase_date">
											<label style="font-size: 1.5rem;">Purchase Date</label>
										</div>
									</div>
								</div>
								<div class="inline fields">
									<div class="ui checkbox">
										<input type="checkbox" name="purchase_before" id="purchase_before">
										<label>Before</label>
										<input type="month" name="purchase_before_date" id="purchase_before_date">
									</div>
									<div class="ui checkbox" style="margin-left: 2rem;">
										<input type="checkbox" name="purchase_after" id="purchase_after">
										<label>After</label>
										<input type="month" name="purchase_after_date" id="purchase_after_date">
									</div>
								</div>
							</div>
							<br>

							<!-- Warranty -->
			            <div class="ui form">
								<div class="inline fields">
									<div class="field">
										<div class="ui checkbox">
											<input type="checkbox" name="warranty" id="warranty">
											<label style="font-size: 1.5rem;">Warranty</label>
										</div>
									</div>
								</div>
			               <div class="inline fields">
			                  <div class="field">
			                     <div class="ui radio checkbox">
			                        <input type="radio" name="warranty_status" checked="checked" value="BOTH" id="warranty_both">
			                        <label>Both</label>
			                     </div>
			                  </div>
			                  <div class="field">
			                     <div class="ui radio checkbox">
			                        <input type="radio" name="warranty_status" value="IW" id="warranty_iw">
			                        <label>IW</label>
			                     </div>
			                  </div>
			                  <div class="field">
			                     <div class="ui radio checkbox">
			                        <input type="radio" name="warranty_status" value="OW" id="warranty_ow">
			                        <label>OW</label>
			                     </div>
			                  </div>
			               </div>
                            </div>
                            <br>
                            <hr>
                            <br>

							<!-- Recency -->
                            <div class="ui main text segment">
							<div class="inline fields">
								<div class="field">
									<div class="ui checkbox">
										<input type="checkbox" name="recency" id="recency">
										<label style="font-size: 1.5rem;">Recency</label>
									</div>
								</div>
							</div>
							<!-- Recency From -->
							<div class="inline fields">
								<div class="ui checkbox">
									<input type="checkbox" name="recency_from" id="recency_from">
									<label>From</label>
									<select class="ui selection dropdown" name="recency_from_val" id="recency_from_val">
										<option value="1">ALL</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										</select>
								</div>
								<!-- Recency To -->
								<div class="ui checkbox" style="margin-left: 2rem;">
									<input type="checkbox" name="recency_to" id="recency_to">
									<label>To</label>
									<select class="ui selection dropdown" name="recency_to_val" id="recency_to_val">
										<option value="5">ALL</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
							</div>
							<br><hr><br>

							<!-- Frequency -->
							<div class="inline fields">
								<div class="field">
									<div class="ui checkbox">
										<input type="checkbox" name="frequency" id="frequency">
										<label style="font-size: 1.5rem;display: inline;">Frequency</label>
                                        <div class="ui form" style="display: inline; margin-left: 100px;">
                                           <div class="inline fields" style="display: inline;">
                                              <div class="field" style="display: inline;">
                                                 <div class="ui radio checkbox">
                                                    <input type="radio" name="f_and_or" checked="checked" value="AND" id="f_and">
                                                    <label>AND</label>
                                                 </div>
                                              </div>
                                              <div class="field" style="display: inline;">
                                                 <div class="ui radio checkbox">
                                                    <input type="radio" name="f_and_or" value="OR" id="f_or">
                                                    <label>OR</label>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                    </div>
								</div>
							</div>
							<!-- Frequency From -->
							<div class="inline fields">
								<div class="ui checkbox">
									<input type="checkbox" name="frequency_from" id="frequency_from">
									<label>From</label>
									<select class="ui selection dropdown" name="frequency_from_val" id="frequency_from_val">
										<option value="1">ALL</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										</select>
								</div>
								<!-- Frequency To -->
								<div class="ui checkbox" style="margin-left: 2rem;">
									<input type="checkbox" name="frequency_to" id="frequency_to">
									<label>To</label>
									<select class="ui selection dropdown" name="frequency_to_val" id="frequency_to_val">
										<option value="5">ALL</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
							</div>
							<br><hr><br>


							<!-- Monetary -->
							<div class="inline fields">
								<div class="field">
									<div class="ui checkbox">
										<input type="checkbox" name="monetary" id="monetary">
										<label style="font-size: 1.5rem;display: inline;">Monetary</label>
                                        <div class="ui form" style="display: inline; margin-left: 100px;">
                                           <div class="inline fields" style="display: inline;">
                                              <div class="field" style="display: inline;">
                                                 <div class="ui radio checkbox">
                                                    <input type="radio" name="m_and_or" checked="checked" value="AND" id="m_and">
                                                    <label>AND</label>
                                                 </div>
                                              </div>
                                              <div class="field" style="display: inline;">
                                                 <div class="ui radio checkbox">
                                                    <input type="radio" name="m_and_or" value="OR" id="m_or">
                                                    <label>OR</label>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
									</div>
								</div>
							</div>
							<!-- Monetary From -->
							<div class="inline fields">
								<div class="ui checkbox">
									<input type="checkbox" name="monetary_from" id="monetary_from">
									<label>From</label>
									<select class="ui selection dropdown" name="monetary_from_val" id="monetary_from_val">
										<option value="1">ALL</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										</select>
								</div>
								<!-- Monetary To -->
								<div class="ui checkbox" style="margin-left: 2rem;">
									<input type="checkbox" name="monetary_to" id="monetary_to">
									<label>To</label>
									<select class="ui selection dropdown" name="monetary_to_val" id="monetary_to_val">
										<option value="5">ALL</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
							</div>
                            <br>
                            </div>
			      	</div>
			      </div>
			      <div class="ui main text segment">
			         <h1 style="text-align: center">OUTPUT FIELD</h1>
			         <div class="ui form">
			            <div class="inline fields">
			               <div class="field">
			                  <div class="ui checkbox">
			                     <input type="checkbox" name="output" checked="checked" id="output_all" value="ALL">
			                     <label>ALL</label>
			                  </div>
			               </div>
			               <div class="field">
			                  <div class="ui checkbox">
			                     <input type="checkbox" name="output" id="output_phone" value="phone_no">
			                     <label>Phone no.</label>
			                  </div>
			               </div>
			               <div class="field">
			                  <div class="ui checkbox">
			                     <input type="checkbox" name="output" id="output_email" value="email_addr">
			                     <label>Email</label>
			                  </div>
			               </div>
			               <div class="field">
			                  <div class="ui checkbox">
			                     <input type="checkbox" name="output" id="output_address" value="ADDRESS_LINE1_INFO">
			                     <label>Address</label>
			                  </div>
			               </div>
			               <div class="field">
			                  <div class="ui checkbox">
			                     <input type="checkbox" name="output" id="output_state" value="state_name">
			                     <label>State</label>
			                  </div>
			               </div>
			            </div>
			         </div>
			      </div>
			      <button class="ui basic black button" id="generate">Generate</button>
			   </div>
			</div>
		</div>

	    <div class="modal">
	        <!-- <h1 class= "modal__title">Query Generated</h1> -->
	        <h2 class="modal__action--negative">
	        	<span id="close"><i class="close icon"></i></span>
	        </h2>
	        <div class="modal__actions">
	        	<div class="ui main text container segment">
				        <h1>Query Generated</h1>
				    <form class="ui form">
				        <div class="field">
				            <!-- <label for="body">Description</label> -->
				            <textarea name="" id="body" cols="30" rows="18" style="word-spacing: 10px;">

                            </textarea>
				        </div>
				        <button class="ui basic black large button" id="confirm">Confirm</button>
				    </form>
                    <a href="" id="dlink" download></a>
				</div>
	        </div>
	    </div>
	</main>
	<script
	  src="https://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/product_new.css' %}">
    <script type="text/javascript" src="{% static 'home/js/product_new.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/submit.js' %}"></script>
</body>
</html>


